@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<div class="text-center">
    <h1 class="display-4">Acesso Negado</h1>
    <p>Pagina Restrita</p>
    <a asp-controller="Home" asp-action="Index" >clique aqui para voltar para home</a>
</div>
